body {
  min-height: 2000px;
  padding-top: 70px;
}
.separador {
	padding-top: 15px;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout {
    margin: 20px 0px;
    padding: 20px;
    border-left: 3px solid #EEE;
}